.navbar {
    position: fixed;
    top: 0;
    width: 100%;
}

body {
    background-color: rgb(197, 202, 211);
}

.welcome-pic {
    margin-top: 60px;
    width: 100%;
    max-height: 850px;
    display: flex;
    justify-content: center;
}

.home-container {
    text-align: center;
    margin: auto;
    width: 60%;
}

.home-post {
    padding: 19px;
    border-radius: 20px;
    letter-spacing: 1.1px;
    box-shadow: 10px 10px 5px rgb(72, 76, 88);
    margin: 25px;
    opacity: 0.9;
    background-color: rgb(255, 255, 255);
}

.post-count {
    padding: 15px;
    font-size: 1.5em;
    color: rgb(9, 10, 12);
    text-shadow: 2px 2px 5px rgb(72, 76, 88);
}

a {
    color:rgb(9, 10, 12);
    padding: 10px;
}

a:hover {
    color: rgb(96, 107, 128);
}

.btn {
    margin: 8px;
    box-shadow: 2px 2px 5px rgb(72, 76, 88);
}

.posts-container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post {
    width: 70%;
    border-radius: 20px;
    padding: 20px;
    margin: 15px;
    letter-spacing: 1.1px;
    opacity: 0.9;
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 10px 5px rgb(72, 76, 88);
}

.post p {
    padding: 15px;
}

.all-h2 {
    text-shadow: 2px 2px 5px rgb(154, 162, 178);
    padding: 5px;
}

.create-post {
    max-width: 600px;
    height: auto;
    margin: 150px auto;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    margin: 15px;
    border-radius: 20px;
    letter-spacing: 1.1px;
    box-shadow: 10px 10px 5px rgb(154, 162, 178);
    background-color: rgb(255, 255, 255);
}

.form-row {
    padding: 5px;
    width: 100%;
}

h1 {
    text-shadow: 2px 2px 5px rgb(154, 162, 178);
    text-align: center;
    padding-bottom: 20px;
}

#title, #author, #text {
    width: 100%;
    box-shadow: 1px 1px 2px rgb(154, 162, 178);
    border-radius: 3px;
}

label {
    font-weight: 600;
}

.back-btn {
    padding: 10px;
}

.single-post {
    width: 70%;
    border-radius: 20px;
    padding: 50px;
    letter-spacing: 1.1px;
    opacity: 0.9;
    box-shadow: 10px 10px 5px rgb(72, 76, 88);
    margin: 150px auto;
    background-color: rgb(255, 255, 255);
}

.single-post p {
    padding: 15px;
}

@media screen and (max-width: 768px) {
   .home-container {
       width: 90%;
   } 

    .post {
    width: 95%;
    }

    .single-post {
        width: 95%;
        padding: 20px;
    }
}